{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexusBoard</title>
    <!-- Built SPA assets (injected) -->
    <link rel="stylesheet" href="{% static 'nexusboard_vue/assets/index-ea684f80.css' %}">
    <script type="module" crossorigin src="{% static 'nexusboard_vue/assets/index-ee3d5319.js' %}"></script>
    <style>
      html, body, #app { height: 100%; }
    </style>
  </head>
  <body>
    <div id="app"></div>

  </body>
</html>
